<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        
    </head>
    <body>
        <div class="outer-container">
            <div class="logo"></div>
            <div class="name"></div>
            <div class="scribble"></div>
            <div class="menu-bar"></div>
            <div class="menu">
                <div class="about">
                    <a href="{{ url_for('show_index') }}">about</a>
                </div>
                <div class="home">
                    <a href="{{ url_for('show_index') }}">home</a>
                </div>
                <div class="works">
                    <a href="{{ url_for('show_index') }}">works</a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>