<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        
    </head>
    <body>
        <div class="outer-container">
            <div class="logo"></div>
            <div class="name"></div>
            <div class="scribble"></div>
            <div class="menu">
                <div class="about"></div>
                <div class="home"></div>
                <div class="works"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
    </body>
</html>