@import url('https://fonts.googleapis.com/css?family=Fugaz+One|IBM+Plex+Sans');

.sidenav {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 315px;
  padding-top: 13px;
  display: none;
  flex-direction: row;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.sidenav a {
  padding: 0px 0px 130px 0px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
}

.sidenav span {
}

.nav:hover {
  color: white;
}

.content {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
