@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Signika');

.sidenav {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 300px;
  padding-top: 10px;
  display: none;
  flex-direction: row;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.sidenav a {
  padding: 0px 0px 130px 0px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: "Archivo Black", cursive;
  transition: color ease-in .1s;
}

.navbtn {
  font-size:30px;
  cursor:pointer;
  color: white;
  transition: color ease-in .1s;
}

.content {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
