@import url('https://fonts.googleapis.com/css?family=Fugaz+One|IBM+Plex+Sans');

.sidenav {
  position: fixed;
  z-index: 1;
  left: 12px;
  top: 145px;
  padding-top: 13px;
  display: none;
  flex-direction: column;
}

.sidenav a {
  padding: 0px 0px 130px 0px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  color: black;
}

.sidenav div {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  width: 100px;
}

.nav:hover {
  color: white;
}

.content {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
