.content {
      height: 100%;
      overflow-y:scroll;
      top: 0%;
      text-align: initial;
      width: auto;
  }

  .works {
    z-index: 1;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .works img {
    padding-top: 70px;
  }

  .works img:first-child {
    padding-top: 50px;
  }
  .works img:last-child {
    padding-bottom: 50px;
  }

  .overlay {
    z-index: 2;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 70px;
    transition: 0.2s;
  }

  .overlay:hover {
    opacity: 0.4;
    transition: 0.2s;
  }

  #container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container .text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container:hover p {
    opacity: 1;
  }

  #container:hover p:last-child {
    opacity: .8;
  }
