.content {
  height: 100%;
  overflow-y:scroll;
  top: 0%;
  text-align: center;
  width: auto;
  position: absolute;
}

.works {
  z-index: 1;
}

::-webkit-scrollbar {
    width: 0;
  }

.works img:first-child {
  padding-top: 50px;
}
 
.works img:last-child {
   padding-bottom: 50px;
}

.overlay {
  z-index: 2;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 70px;
  transition: 0.2s;
}

.overlay:hover {
  opacity: 0.4;
  transition: 0.2s;
}

  #container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

#container .text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container:hover p {
  opacity: 1;
}

#container:hover p:last-child {
  opacity: .8;
}

.text p {
  position: absolute;
    text-align: center;
    font-size: 30px;
    color: white;
    z-index: 3;
    opacity: 0;
    width: 200px;
  }

  .text p:last-child {
    top: 50px;
    font-size: 25px;
  }

img {
  filter:contrast(150%);
  opacity: 0.6;
  transition: 0.2s;
  border: 10px solid green;
}

#container:hover img {
  opacity: 1;
  filter: contrast(100%);
  transition: 0.2s;
  transform: scale(1.1);
}
