@import url('https://fonts.googleapis.com/css?family=Shrikhand|Arvo');

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p, a {
  font-family: "Arvo", serif;
}

h2, h3 {
  font-family: "Shrikhand", cursive;
}

.header {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-left: 20%;
}

.header h3 {
  font-size: 90px;
}

.header h3:first-child {
  margin-top: 40%;
}

.header h3:last-child {
  margin-left: 10%;
}

.navbtn {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 15px;
  padding-top: 10px;
}

.content {
  position: absolute;
  height: auto;
  top: 50%;
  margin-top: -(height/2);
  text-align: center;
  width: 800px;
  border: solid;
}
