@import url('https://fonts.googleapis.com/css?family=Shrikhand|PT+Mono');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(270deg, #FFF7D4, #D4F0FF, #EFFFD4);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

p, a {
  font-family: "PT Mono", serif;
}

h2, h3 {
  font-family: "Shrikhand", cursive;
}

.header {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 40%;
}

.header h3 {
  font-size: 300px;
  color: white;
}

.header h3:first-child {
  margin-left: 10%;
}

.header h3:last-child {
  margin-top: -25%
}

.navbtn {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 15px;
  padding-top: 10px;
  color: white;
}

.content {
  position: absolute;
  height: auto;
  top: 50%;
  margin-top: -(height/2);
  margin-left: -7%;
  text-align: center;
  width: 800px;
}

.content p, .content a {
  line-height: 4;
  font-size: 20px;
  text-align: right;
}

.content h2 {
  position: absolute;
  height: auto;
  margin-top: -20%;
  font-size: 90px;
  margin-left: -25%;
}
