@import url('https://fonts.googleapis.com/css?family=Fugaz+One|IBM+Plex+Sans');

p, h2, h3, a {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  margin-left: -(width/2);
}

.navbtn {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-top: 10px;
}
