.content {
  height: 100%;
  overflow-y:scroll;
  top: 0;
  width: 80vw;
  position: absolute;
}

.content img {
  z-index: 0;
}

.projects {
  position: absolute;
  right: 0;
}

.project-container {
  position: relative;
  padding: 30px 30px 30px 30px;
}

.project-container:last-child {
  padding-bottom: 70px;
}

.project-container img {
  width: 650px;
  opacity: 0.6;
  transition: ease-in 0.2s;
  filter:  contrast(150%);
  margin-right: 15vw;
}

.project-container:hover img {
  transition: ease-in 0.2s;
  opacity: 1;
  filter: grayscale(0) contrast(100%);
  transform: scale(1.05);
}

#stock:hover img {
  background-color: white;
}

.text {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 300px;
  border: 10px solid;
  opacity: 0;
  top: 18px;
  left: -20vw;
}

.text p {
  text-align: center;
  font-size: 30px;
  line-height: 0px;
}

.text p:nth-child(2) {
  opacity: 0.8;
}

.project-container:hover .text {
  transition: ease-in 0.2s;
  opacity: 1;
}

.project-container:nth-child(2) .text p,
.project-container:last-child .text p {
  position: absolute;
  font-size: 20px;
}

.project-container:nth-child(2) .text p:first-child {
  top: 0;
  line-height: 0px;
}

.project-container:nth-child(2) .text p:nth-child(2) {
  bottom: -10px;
  line-height: 25px;
}

.project-container:last-child .text p:first-child {
  top: 5px;
}

.project-container:last-child .text p:nth-child(2) {
  bottom: -5px;
  line-height: 25px;
}

@media screen and (max-width: 1439px) {
  .content {
    top: 60px;
    width: 100%;
    left: 0;
  }
  .text {
    width: 20vw;
    height: 8vw;
    left: -23vw;
  }
  .text p,
  .project-container:nth-child(2) .text p,
  .project-container:last-child .text p {
    font-size: 100%;
  }
  .project-container img {
    width: 50vw;
  }
}

@media screen and (max-width: 1023px) {
  .text {
    left: 0vw;
  }
}

@media screen and (max-width: 599px) {
  .content {
    top: 60px;
    width: 100%;
  }
  .project-container {
    transition: ease-in 0.2;
  }
  .project-container img {
    margin: 0 0 0 0;
    width: 80%;
  }
  .project-container:last-child {
    padding-bottom: 150px;
  }
  .project-container:nth-child(2) .text p:last-child {
    font-size: 15px;
    line-height: 15px;
  }
  .project-container:last-child .text p:last-child {
    line-height: 15px;
  }
  .text {
    position: relative;
    display: none;
    left: 30px;
    width: 60vw;
    height: 10vh;
    transition: ease-in 0.2;
  }
  .project-container:hover .text {
    display: flex;
    transition: ease-in 0.2;
  }

}