.content {
  height: 100%;
  overflow-y:scroll;
  top: 0;
  width: auto;
  position: absolute;
}

.content img {
  z-index: 0;
  padding-top: 70px;
}

.content img:last-child {
  padding-bottom: 100px;
}

img.stamps, img.stock, img.jamquiz {
  opacity: 0.6;
  transition: 0.2s;
  filter: grayscale(100%) contrast(1.5);
}

img.stamps:hover, img.stock:hover, img.jamquiz:hover {
  opacity: 1;
  transition: 0.2s;
  filter: grayscale(0);
}

.project-container {
  width: 800px;
}

.project-container img {
  width: 650px;
}

.project-container p {
  position: absolute;
  opacity: 0;
  font-size: 15px;
  z-index: 1;
}

#stamps p {
  top: 100px;
  left: 120px;
}

#stock p {
  bottom: -200px;
  right: 30px;
  width: 555px;
}

#stock p:first-child {
  font-weight: bold;
  bottom: -160px;
}

#jamquiz p {
  padding-left: 35px;
  padding-top: 40px;
  margin-top: 80px;
}

#jamquiz p:first-child {
  font-weight: bold;
}

#jamquiz p:nth-child(2) {
  padding-top: 20px;
}
